# dependencies
gjmr/node_modules
gjmr/package-lock.json
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
# IDE
.idea
.vscode
# testing
gjmr/coverage
# production
gjmr/build
# compiled style
gjmr/src/styles/style.css
gjmr/src/styles/style.css.map

