# dependencies
node_modules
package-lock.json
# misc
.DS_Store
.env
npm-debug.log*
# IDE
.idea
.vscode
# testing
coverage
# production
build
# compiled style
gjmr/src/styles/style.css
gjmr/src/styles/style.css.map

