*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header {
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 15px 0px;
  height: 100%;
}

header .logo img {
  height: 100%;
}

header blockquote {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 0px;
}

header .user-name {
  text-transform: uppercase;
  margin-right: 15px;
  text-decoration: none;
}

header .header-right {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .header-right .user-name {
  margin-right: 0;
}

header .header-right .cta-logout {
  background-color: #e42761;
  text-decoration: none;
  margin-top: 10px;
  padding: 5px 15px;
  color: white;
  border-radius: 20px;
}

footer {
  background-color: #021B48;
  text-align: center;
  color: white;
  padding: 40px 15px;
}

footer a {
  color: white;
}

h1 {
  margin: 0 -15px 30px;
  padding: 15px;
  color: white;
  background-color: #0476BB;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 15px;
  padding: 0;
}

nav ul li {
  padding: 5px 10px;
  list-style-type: none;
}

nav.creation ul, nav.lists ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.creation ul li a, nav.lists ul li a {
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

nav.creation {
  max-width: 1080px;
  text-align: center;
  margin: auto;
}

nav.creation ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 1px solid #cecece;
  padding-bottom: 15px;
}

nav.lists ul li a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

nav.lists ul li a:active {
  color: white;
  padding: 5px 10px;
  background-color: #e42761;
}

.section-list {
  max-width: 1080px;
  margin: auto;
}

.section-list h2 {
  text-align: center;
}

.table-list {
  text-align: center;
  width: 100%;
}

.table-list th {
  padding: 20px 15px;
}

.table-list td {
  padding: 10px 15px;
}

.table-list button {
  margin-bottom: 0;
}

/* FORM LOGIN, FORM COMMON*/
.login .back-btn, .main-form .back-btn {
  max-width: 1080px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.login .back-btn:before, .main-form .back-btn:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-position: center;
  background: url(/images/back.svg);
}

.login .form, .main-form .form {
  max-width: 1080px;
  margin: auto;
  text-align: center;
}

.login .form .form-item, .login .form .select-item, .main-form .form .form-item, .main-form .form .select-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.login .form .form-item input, .login .form .select-item input, .main-form .form .form-item input, .main-form .form .select-item input {
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.login .form .form-item input, .login .form .select-item input, .main-form .form .form-item input, .main-form .form .select-item input {
  width: 300px;
  margin: auto;
}

.login .form .form-item label, .login .form .select-item label, .main-form .form .form-item label, .main-form .form .select-item label {
  width: 150px;
  margin: auto;
}

.login .form .form-item #school_year_id, .login .form .form-item #teacher_id, .login .form .select-item #school_year_id, .login .form .select-item #teacher_id, .main-form .form .form-item #school_year_id, .main-form .form .form-item #teacher_id, .main-form .form .select-item #school_year_id, .main-form .form .select-item #teacher_id {
  width: 300px;
  height: 42px;
  margin: 0 10px;
  font-size: 16px;
}

.login .form .submit-button-wrapper, .main-form .form .submit-button-wrapper {
  margin-top: 30px;
}

.login .form .submit-button-wrapper .submit-button, .main-form .form .submit-button-wrapper .submit-button {
  width: 150px;
  height: 30px;
  font-size: 16px;
  background-color: #0476BB;
  color: white;
  border: none;
  cursor: pointer;
}

/* A FINIR ...*/
a {
  color: black;
}

a:hover, a:focus, a:active, a.active {
  color: #E52761;
}

label {
  margin-right: 10px;
}

label.textarea {
  vertical-align: top;
}

button,
.btn,
.form-item,
.select-item {
  margin-bottom: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.login {
  padding-top: 0;
}

table {
  border: 0;
  margin-bottom: 15px;
}

table thead, table tbody, table tr, table td, table th {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

table td, table th {
  padding: 10px 15px;
}

table th {
  text-transform: uppercase;
}

table thead tr {
  background-color: rgba(4, 118, 187, 0.4);
}

table tr:nth-child(even) {
  background-color: rgba(4, 118, 187, 0.3);
}

table.modules td {
  position: relative;
}

table.modules td a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.tr-clickable {
  cursor: pointer;
}

.tr-hiddenable {
  border-top: 1px solid white;
}

.tr-hiddenable td {
  background-color: #021B48;
  color: white;
}

.tr-hiddenable td .animated-cell {
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 150px;
}

.tr-hiddenable.hidden {
  overflow: hidden;
}

.tr-hiddenable.hidden:after {
  content: none;
}

.tr-hiddenable.hidden td {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tr-hiddenable.hidden td .animated-cell {
  max-height: 0;
}

.loading {
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
  margin-left: 15px;
  padding-bottom: 15px;
}

.loading div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  -webkit-animation: loading 1.2s cubic-bezier(0.2, 0.45, 0.7, 0.2) infinite;
          animation: loading 1.2s cubic-bezier(0.2, 0.45, 0.7, 0.2) infinite;
  border-color: #0476BB transparent transparent transparent;
}

.loading div:nth-child(1) {
  -webkit-animation-delay: -0.05s;
          animation-delay: -0.05s;
  border: 4px solid rgba(4, 118, 187, 0.3);
}

.loading div:nth-child(2) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.loading div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */