
// Variables
// =========
// screen size for media queries
$screen-xs: 448px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
// font weight
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extra-bold: 700;
$black: 800;
// colors
$dark_blue: #021B48;
$blue: #0476BB;
$pink: #E52761;

// font familly
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// Import
// ======
@import "sass/app";
@import "sass/loading";
@import "sass/log";