*, *:before, *:after
    box-sizing: border-box
    
body
    margin: 0
    padding: 0
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.app
    min-height: 100vh
    width: 100vw
    display: flex
    flex-direction: column
    position: relative

main
    padding: 0 15px
    flex-grow: 1

header
    padding: 20px 0 10px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    position: relative
    .logo
        position: absolute
        top: 50%
        left: 15px
        transform: translateY(-50%)
        padding: 15px 0px
        height: 100%
        img
            height: 100%

    blockquote
        text-transform: uppercase
        font-size: 25px
        margin-bottom: 0px
    .user-name
        text-transform: capitalize
        margin-right: 15px
        text-decoration: none
    .header-right
        position: absolute
        top: 50%
        right: 15px
        transform: translateY(-50%)
        display: flex
        flex-direction: column
        align-items: flex-end
        .user-name
            margin-right: 0
        .cta-logout
            background-color: #e42761
            text-decoration: none
            margin-top: 10px
            padding: 5px 15px
            color: white
            border-radius: 20px

footer
    background-color: $dark_blue
    text-align: center
    color: white
    padding: 40px 15px
    a
        color: white

h1
    margin: 0 -15px 30px
    padding: 15px
    color: white
    background-color: $blue

nav ul 
    display: flex
    flex-wrap: wrap
    margin: 0 0 15px
    padding: 0
    li
        padding: 5px 10px
        list-style-type: none


nav
    &.creation, &.lists
        ul
            justify-content: center
            li a
                text-decoration: none
                transition: all ease-in-out 0.2s
    &.creation
        max-width: 1080px
        text-align: center
        margin: auto
        ul
            display: inline-flex
            border-bottom: 1px solid #cecece
            padding-bottom: 15px
    &.lists
        ul
            li a
                text-transform: uppercase
                font-weight: 700
                letter-spacing: 1px 
                padding: 5px 10px
                &.active
                    color: white
                    background-color: #e42761     


.section-list, .module-list
    max-width: 1080px
    margin: auto
    h2
        text-align: center

.table-list, .modules
    text-align: center
    width: 100%
    th
        padding: 20px 15px
    td
        padding: 10px 15px
    button
        margin-bottom: 0

/* FORM LOGIN, FORM COMMON*/
.login, .main-form
    .back-btn
        max-width: 1080px
        margin: auto
        display: flex
        align-items: center
        text-decoration: none
        
        &:before
            content: ''
            display: inline-block
            width: 15px
            height: 15px
            margin-right: 15px
            background-position: center
            background: url(/images/back.svg)
    .form
        max-width: 1080px
        margin: auto
        text-align: center
        .form-item, .select-item
            display: flex
            max-width: 500px
            align-items: center
            margin: auto
            margin-bottom: 20px
            input
                padding: 10px
                text-align: center
                font-size: 16px
            input
                width: 300px
                margin: auto
            label 
                width: 150px
                margin: auto
            #school_year_id, #teacher_id
                width: 300px
                height: 42px
                margin: 0 10px
                font-size: 16px
            


        .submit-button-wrapper
            margin-top: 30px
            .submit-button
                width: 150px
                height: 30px
                font-size: 16px
                background-color: #0476BB
                color: white
                border: none
                cursor: pointer

/* A FINIR ...*/

a
    color: black
    &:hover,
    &:focus,
    &:active,
    &.active
        color: $pink
    
label
    margin-right: 10px
    &.textarea
        vertical-align: top
button,
.btn,
.form-item,
.select-item
    margin-bottom: 10px

.sr-only
    // from bootstrap
    position: absolute
    width: 1px
    height: 1px
    padding: 0
    margin: -1px
    overflow: hidden
    clip: rect(0,0,0,0)
    border: 0

.login
    padding-top: 0

table
    border: 0
    margin-bottom: 15px
    thead, tbody, tr, td, th
        border: 0
        border-spacing: 0
        border-collapse: collapse
    td, th
        padding: 10px 15px
    th
        text-transform: uppercase
    thead tr
        background-color: transparentize($blue, 0.6)
    tr:nth-child(even)
        background-color: transparentize($blue, 0.7)

table.modules
    td
        position: relative
        a:before
            content: ''
            position: absolute
            left: 0
            right: 0
            bottom: 0
            top: 0
            z-index: 1


.tr-clickable
    cursor: pointer
.tr-hiddenable
    border-top: 1px solid white
    td
        background-color: $dark_blue
        color: white
        .animated-cell
            transition: max-height 0.5s
            overflow: hidden
            max-height: 150px //arbitraire
    &.hidden
        overflow: hidden
        &:after
            content: none
        td
            padding-top: 0
            padding-bottom: 0
            transition: all 0.3s
            .animated-cell
                max-height: 0